# Laravel
/backend/vendor/
/backend/node_modules/
/backend/public/build/
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/.env
/backend/.env.backup
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.idea
/backend/.vscode
/backend/database/database.sqlite

# Python & Pytest
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
/worker/venv/
/worker/.env

# OS & Scratch Files
.DS_Store
Thumbs.db
*.png
*.html
*.db
temp_out.txt
classes.txt
browser_profile/
/worker/browser_profile/
/worker/*.session*

unused/
node_modules/
chrome_profile/
*.sql
*.zip
temp_*
trace.txt
*.txt.txt